.main{
    margin: 20px 0;
}

.personal-information-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

.input-elements {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 10px 0;
}

.input-fields {
    border: 1px solid black;
}

.gender-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.gender-input {
    opacity: 0;
}
.gender-input-label {
    cursor: pointer;
}

.input-box {
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    cursor: pointer;
    margin: 0 10px;
}

.gender-legend,
.gender-input,
.input-box,
.gender-input-label {
    display: inline-flex;
}

.gender-input:checked+.input-box{
    content: '';
    width: 18px;
    height: 18px;
    background: #044f8d;
}